h1 {
    background-color: #ffffff;
    border-radius: 0.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03rem;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
    user-select: none;
}

.heading-container {
    display: flex;
    gap: 20px;
    width: 21rem;
}

.main-container {
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
}

.forms>* {
    margin-bottom: 2rem;
}

.resume-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

@media (max-width: 1180px) {
    .main-container {
        flex-direction: column;
        width: 100vw;
        margin-left: 0;
    }

    .forms {
        align-self: center;
    }

    .resume {
        transform: translateY(-35rem);
        position: absolute;
        scale: 50%;
    }
}