h1 {
    font-size: 1.7rem;
    margin: 0px;
    width: 100%;
}

label {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.personal-details-form {
    padding: 1.5rem;
    padding-bottom: 2rem;
    background-color: white;
    border-radius: 0.7rem;
    max-width: 18rem;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.text-input {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(230, 228, 228, 0.514);
    border: none;
    height: 2rem;
    width: 15rem;
    border-radius: 0.7rem;
}
