.resume {
    background-color: white;
    width: 21cm;
    height: 29.7cm;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
}

.resume-body>* h2 {
    border-bottom: 2px #1847c7e0 solid;
    padding: 0px;
}
.education-details .resume-heading {
    width: 8rem;
    text-align: center;
}
.summary .resume-heading {
    width: 14.3rem;
}
.career-history .resume-heading {
    width: 11rem;
}
.reference-details .resume-heading {
    width: 8.5rem;
}

.personal-details {
    background-color: #1847c7e0;
    height: 15%;
    gap: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-name {
    font-size: 2.5rem;
    font-weight: 900;
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-info>*:nth-child(2n):not(:last-child) {
    margin-right: 3rem;
}

.contact-info>*:nth-child(2n) {
    margin-left: 0.5rem;
}

.resume-body {
    display: flex;
}

.resume-body-left {
    width: 40%;
    margin-left: 10px;
}

.resume-body-right {
    width: 55%;
    margin-left: 10px;
}

.resume-heading {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.key-skills,
.education-details,
.education-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.key-skills {
    padding-bottom: 10px;
}

.key-skills :not(:first-child):not(:last-child) {
    padding-bottom: 10px;
}

.education-item {
    padding-bottom: 25px;
}

.institution,
.career-title,
.reference-name {
    font-weight: 700;
}

.completionDate {
    color: grey;
}

.summary-content {
    width: 90%;
}

.company {
    font-style: italic;
}

.title-and-company,
.time-at-company {
    display: flex;
}

.duties,
.reference-contact-details {
    padding-left: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.reference-name-and-company {
    display: flex;
}